{% extends 'base.html' %}

{% block content %}

<div class="content">
	<div class="post">
		<center>
<h1 style="width: 100%">{% block title %} Login {% endblock %}</h1>
<form method="post">
	<p>
	<label for="username">username</label>
	<input type="text" name="username"
			   placeholder="username">
	</input>
	</p>

	<p>
	<label for="password">password</label>
	<input type="string" name="password"
			     placeholder="password">
	</input>
	</p>
	<p>
	<button type="submit">submit</button>
	</p>
</form>
</center></div></div>
{% endblock %}
