{% extends 'base.html' %}

{% block content %}
<h1 style="width: 100%">{% block title %} Register {% endblock %}</h1>
<form method="post">
	<p>
	<label for="Field">field</label>
	<input type="radio" name="field" value="1">AI StackExchange
	<input type="radio" name="field" value="2">Math Overflow
	<input type="radio" name="field" value="3">DataScience StackExchange
	</p>
	<p>
	<label for="username">username</label>
	<input type="text" name="username"
			   placeholder="username">
	</input>
	</p>

	<p>
	<label for="display_name">display name</label>
	<input type="text" name="display_name"
			   placeholder="display_name">
	</input>
	</p>

	<p>
	<label for="password">password</label>
	<input type="string" name="password"
			     placeholder="password">
	</input>
	</p>
	<p>
	<button type="submit">submit</button>
	</p>
</form>
{% endblock %}
