{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="post">
            <center>
                <form method="post">
                    <h1 style="width: 100%">
                        {% block title %}
                            What you want to find ?
                        {% endblock %}
                    </h1>
                    <p>
                        <label for="content">content</label>
                        <input type="text" name="content"
                               placeholder="search here">
                        </input>
                        <button type="submit">Submit</button>
                    </p>
                    <p>
                        <input type="checkbox" name="use_cached" checked="checked"/>
                        <label for="use_cached">use cache to accelerate search</label>
                    </p>
                </form>
            </center>
        </div>
    </div>
    <div style="text-align:left; font-size: 0.8em; margin-top: 1em;">
        Warning: Cache acceleration may cause some consistency and accuracy problems.
        <br>
        Search w/o cache may take longer time(about 30s).
    </div>
{% endblock %}

