{% extends 'base.html' %}

{% block content %}

<div class="content">
	<div class="post">
		<center>
<h1 style="width: 100%">{% block title %} Create A New Post {% endblock %}</h1>
<form method="post">
	<p>
	<label for="Title">Title</label>
	<input type="text" name="title"
			   placeholder="Title">
	           </input>
	</p>

	<p>
	<label for="tags">Tags Form: &lt;tag1&gt;&lt;tag2&gt;</label><br>
	<textarea name="tags"
		  placeholder="&lt;tag1&gt;&lt;tag2&gt;&lt;tag3&gt;"
		  rows="3"
		  cols="60"
		  ></textarea>
	</p>

	<p>
	<label for="review">content - in HTML</label>
	<br>
	<textarea name="body"
		  placeholder=""
		  rows="15"
		  cols="60"
		  ></textarea>
	</p>
	<p>
	<button type="submit">Submit</button>
	</p>
</form>
</center>
</div></div>
{% endblock %}

