{% extends 'base.html' %}

{% block content %}
<span class="title">
	<h1>{% block title %} {{ post.title }} {% endblock %}</h1>
	<a href="{{ url_for('userpage.userInfo', id=post.user.id, fid=post.user.fieldid)}}">
		<h2 > Author: {{ post.author }}</h2>
	</a>
	<p>at: {{ post.date }} GMT</p>
</span>
<div class="content">
	<div class="post">

		<p><b>#{{ post.id }}  | comments: {{post.commentcount}} | answers: {{post.answercount}}</b></p>
		{% if post.tags_list %}
		<p>
		{% for t in post.tags_list %}
		# {{ t.tagname }} |
		{% endfor %}
		</p>
		{% endif%}
		<h3>content</h3>
		<div class="bio">
			{% autoescape false %}
			{{ post.body  }}
			{% endautoescape %}
		</div>
		{% if user %}
			{% if user.id == post.owneruserid%}
  				<a href="{{ url_for('postpage.postEdit', pid=post.id, pfid=post.fieldid) }}">Edit This Post</a>
			{% endif %}
		{% endif %}
		<h3>comment</h3>
		{%for comment in post.comment_list%}
		<div class="bio">
			<p>{{comment.date}} - <b>{{comment.displayname}}:</b> 
			{%autoescape false%}
			{{comment.text}}
			{%endautoescape%}
			</p>
		</div>
		{%endfor%}

		<form action="{{ url_for('postpage.leaveComment',  pid=post.id, fid=post.fieldid, ppid=post.id, pfid=post.fieldid) }}", method="POST">
			<label for="comment">Leave Your Comment Here</label>
			<input type="text" id="comment" name="comment"><br><br>
			<input type="submit" value="Comment">
		</form>
	</div>
</div>

{%- for p in post.answers recursive%}
<p>Answered on: {{ p.date }} GMT</p>
<div class="content">
	<div class="post">

		<a href="{{ url_for('postpage.postIndex', id=p.id, fid=p.fieldid)}}">
			<p><b>#{{ p.id }}  | comments: {{p.commentcount}} | answers: {{p.answercount}}</b></p>
		</a>
		<h4>content</h4>
		<div class="bio">
			{% autoescape false %}
			{{ p.body  }}
			{% endautoescape %}
		</div>
		<h3>comment</h3>
		{%for comment in p.comment_list%}
		<div class="bio">
			{% autoescape false %}
			<p>{{comment.date}} - <b>{{comment.displayname}}:</b> {{comment.text}}</p>
			{%endautoescape %}
		</div>
		{%endfor%}

		<form action="{{ url_for('postpage.leaveComment',  pid=p.id, fid=p.fieldid, ppid=post.id, pfid=post.fieldid) }}", method="POST">
			<label for="comment">Leave Your Comment Here</label>
			<input type="text" id="comment" name="comment"><br><br>
			<input type="submit" value="Comment">
		</form>
	</div>
	{%if p.answers %}
	{{loop(p.answers)}}
	{%endif%}
</div>
{% endfor %}
{% endblock %}
