{% extends 'base.html' %}

{% block content %}

<center style="width:100%">
  <span class="title">
    <h1>{% block title %} {{ user.displayname }} {% endblock %}</h1> <br>
  </span>
</center>
<div class="content">
  <div class="post">
	  <p><b>#{{ user.id }} | reputation: {{user.reputation}} | location: {{user.location}} | field: {{ user.fieldid }}</b></p>
    <p>Joint at: [{{ user.date }}] GMT</p>
    {%if user.aboutme%}
    <div class="bio">
      {% autoescape false %}
      {{ user.aboutme }}
      {% endautoescape %}
    </div>
    {%endif%}
    <a href="{{ url_for('userpage.userEdit')}}">Edit Information</a>
  </div>
</div>

{%if posts%}

{% for post in posts%}
<div class="post">
  <p></p>
  <b>
    <p class="name">
    <a href="{{ url_for('postpage.postIndex', id=post.id, fid=post.fieldid)}}">
      {% autoescape false %}
      <h2># {{ post.title }}
      </h2>
      {% endautoescape %}
    </a>
    <p># {{ post.id }}</p>
    by {{post.author}}
    </p>
  </b>
  <p>Posted on: {{ post.date }}</p>
  <p>Answers: {{ post.answercount}}</p>
  <p>Comments: {{ post.commentcount}}</p>
  <a href="{{ url_for('postpage.postEdit', pid=post.id, pfid=post.fieldid) }}">Edit This Post</a>
</div>
{% endfor %}
{%endif%}


{% endblock %}


